<!DOCTYPE html>
<html>
<head>
    <title>Training Progress</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h1>Training Progress</h1>
    <div id="progressBar" style="width: 100%; background-color: #ddd;">
        <div id="progress" style="height: 30px; width: 0%; background-color: #4CAF50;"></div>
    </div>

    <script>
        var total_rounds = {{ total_rounds }};  // Flask 템플릿을 통해 전달받은 전체 라운드 수
    
        function updateProgress() {
            $.getJSON('/training-status', function(data) {
                var current_round = data.current_round;
                var progressPercentage = (current_round / total_rounds) * 100;
                $('#progress').width(progressPercentage + '%');

                if (current_round < total_rounds) {
                    setTimeout(updateProgress, 1000); // 1초 후에 다음 상태 체크
                } else {
                    alert("Training complete!");
                    window.location.href = "/result"
                }
            }).fail(function() {
                console.error("Error contacting training status endpoint.");
            });
        }
    
        $(document).ready(function() {
            updateProgress(); // 페이지 로드 시 진행 상태 업데이트 시작
        });
    </script>
    
</body>
</html>
